#pogrubienie_jung {
	font-size: 29px;
	color: #825bd1;
}
#pochylona_jung {
	font-size: 34pt;
	color: #e6bf6d;
}
#index_gorny_jung {
	font-size: 0.9cm;
	color: #968d1d;
}
#index_dolny_jung {
	font-size: 1.3cm;
	color: rgb(176%,79%,95%);
}
#mono_jung {
	font-size: 39px;
	color: #16dd6d;
}
#powiekszenie_jung {
	color: #503d9f;
}
#pomniejszenie_jung {
	color: rgb(52%,67%,71%);
}